.lightbox-content {
    background: #111;
    width: 90%;
    max-width: 1100px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.lightbox-body {
    display: flex;
    flex-direction: row; /* در موبایل باید column شود */
}

#lightbox-media-container {
    flex: 2;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lightbox-media-container img, #lightbox-media-container iframe {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

.lightbox-info {
    flex: 1;
    padding: 30px;
    border-left: 1px solid rgba(255,255,255,0.1);
    background: #111;
}

.lightbox-info h3 { font-family: 'Syncopate'; color: var(--accent); margin-top: 0; }
.lightbox-info p { font-size: 0.9rem; line-height: 1.6; color: #ccc; }
.lightbox-info hr { border: 0; border-top: 1px solid #333; margin: 20px 0; }

@media (max-width: 900px) {
    .lightbox-body { flex-direction: column; }
    .lightbox-info { border-left: none; border-top: 1px solid #333; }
}
